:root {
    --main-bg-color : rgb(36, 36, 147);
}

html, body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #444;
    background-image: url("../img/space_bg2.jpeg");
}


.header {
    min-height: 5%;
    background-color: var(--main-bg-color);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header .title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-left: 2vw;
}

.header .actions {
    margin: 0;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    justify-self: flex-end;
    margin-right: 2vw;
}

.header .actions ul li {
    display: inline;
    margin-left: 1vw;
}

.header .actions ul li a {
    color: #fff;
    text-decoration: none;
}


.authorization {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 100%;
}


.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding-right: 30px;
    padding-left: 30px;
}

.card .title {
    font-size: 20px;
    font-weight: 600;
}

.card .field {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.field span {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    display: block;
}


.field input {
    border-color: #44444460;
    border-radius: 5px;
    min-width: 15vw;
    min-height: 2vh;
    background-color: #dcdcdc;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 4px;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    text-decoration: none;
}




.button:hover {
    background-color: #fff;
    color: var(--main-bg-color);
    transition: 0.5s;
}
