{% extends 'notes/base.html' %}

{% block content %}
<div class="authorization">
    <div class="card">
        <div class="title">
            <span>Авторизация</span>
        </div>
        <form>
            <div class="field">
                <span>Email</span>
                <input type="email" name="email">
            </div>
            <div class="field">
                <span>Пароль</span>
                <input type="password" name="password">
            </div>
            <div class="actions">
                <a href="{% url 'register' %}" class="button">Регистрация</a>
                <a href="{% url 'my_notes' %}" class="button">
                    Войти
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}