{% extends 'notes/base.html' %}

{% block content %}
<div class="authorization">
    <div class="card">
        <div class="title">
            <span>Регистрация</span>
        </div>
        <form>
            <div class="field">
                <span>Имя пользователя</span>
                <input type="text" name="username">
            </div>
            <div class="field">
                <span>Email</span>
                <input type="email" name="email">
            </div>
            <div class="field">
                <span>Пароль</span>
                <input type="password" name="password">
            </div>
            <div class="actions">
                <a href="{% url 'home' %}" class="button">
                    Зарегистрироваться
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}