{% extends 'notes/base.html' %}

{% block content %}
<div class="authorization">
    <div class="card">
        <div class="title">
            <span>Регистрация</span>
        </div>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="errors">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% for elem in form %}
            <div class="field">
                <span>{{ elem.label }}</span>
                <div>
                    {{ elem }}
                </div>
            </div>
            <div class="errors">
                {{elem.errors}}
            </div>
            {% endfor %}
            <div class="actions">
                <button type="submit" class="button">
                    Зарегистрироваться
                </button>
                <a href="{% url 'home' %}" class="button">Авторизация</a> 
            </div>
        </form>
    </div>
</div>
{% endblock %}