{% extends 'notes/base.html' %}

{% block header_actions %}
<ul>
    <li><a href="{% url 'home' %}">{{ user.username }}</a></li>
    <li><a href="{% url 'logout' %}">Выйти</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="notes">
    <div class="note">
        <div class="create_note">
            <div class="card">
                <a href="#" class="addition">+</a>
            </div>
        </div>
    </div>
</div>

<!-- <div style="margin: 5vh 5vw;">
    <div class="card">
        <div class="title">
            <span>Тестовый сайт с заметками на Django</span>
        </div>
        <div>
            <h3>Перечисление объектов</h3>
            <div>
                <ul>
                    {% for note in user_notes %}
                        <li>{{ note }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}